<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authorization</title>
</head>
    <body>
        {% include 'header.html' %}

        <form method="post" action="auth.html" class="container">
            {% if error %}
                <p>{{ error }}</p>
            {% endif %}
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="text" name="login" placeholder="Login"> <br>
            <input type="password" name="password" placeholder="Password"> <br>
            <button type="submit" class="btn btn" name="try">Log in</button>
            <br>
        </form>

        {% include 'footer.html' %}
    </body>
</html>