<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ user_info.username }}</title>
    <script src="{{ static("js/download2.js") }}"></script>
</head>
<body>
{% include 'header.html' %}
<dl>
    <div class="container">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#createGroupCollapse"
                aria-expanded="false" aria-controls="createGroupCollapse">
            Create group
        </button>
        <button class="btn btn-primary"
                onclick="download(JSON.stringify({{ groups }}), 'refs.json', 'application.json')">
            Download json
        </button>
        <form method="post" class="collapse" id="createGroupCollapse">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Select color:</span>
                </div>
                <input type="color" name="color"> <br>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Name of group:</span>
                </div>
                <input type="text" name="name" placeholder="name of group"><br>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Priority:</span>
                </div>
                <input type="number" name="priority" placeholder="priority of group">
            </div>
            <button type="submit" class="btn btn-primary" name="add-group">Create group</button>
        </form>
    </div>
    {% for group in groups.values() %}
        <div style="background-color: {{ group.color }}" class="container">
            <button class="btn btn-primary" type="button" data-toggle="collapse"
                    data-target="#showHideRefsCollapse{{ group.id }}"
                    aria-expanded="false" aria-controls="showHideRefsCollapse{{ group.id }}">
                <h2>{{ group.name }}: {{ group.refs|length }}</h2>
            </button>
            <div class="collapse" id="showHideRefsCollapse{{ group.id }}">

                <p>
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#changeColorCollapse{{ group.id }}"
                            aria-expanded="false" aria-controls="changeColorCollapse{{ group.id }}">
                        Change color
                    </button>
                    <button class="btn btn-danger" type="button" data-toggle="collapse"
                            data-target="#deleteGroupCollapse{{ group.id }}"
                            aria-expanded="false" aria-controls="deleteGroupCollapse{{ group.id }}">
                        Delete Group
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#addRefCollapse{{ group.id }}"
                            aria-expanded="false" aria-controls="addRefCollapse{{ group.id }}">
                        Add reference
                    </button>
                </p>

                <form method="post" class="collapse" id="changeColorCollapse{{ group.id }}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="hidden" name="group-id" value="{{ group.id }}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Select color:</span>
                        </div>
                        <input type="color" name="color"> <br>
                    </div>
                    <button type="submit" class="btn btn-primary" name="change-color">Change color</button>
                </form>
                <form method="post" class="collapse" id="deleteGroupCollapse{{ group.id }}">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="hidden" name="group-id" value="{{ group.id }}">
                    <button type="submit" class="btn btn-danger" name="delete-group">Delete group</button>
                </form>

                <form method="post" class="collapse" id="addRefCollapse{{ group.id }}">
                    Add reference
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    <input type="hidden" name="group-id" value="{{ group.id }}">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Select color:</span>
                        </div>
                        <input type="url" name="url" placeholder="Input url">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Select color:</span>
                        </div>
                        <input type="text" name="name" placeholder="Input site name">
                    </div>
                    <button type="submit" class="btn btn-primary" name="add-ref">Add reference</button>
                </form>
                <dd>
                    {% for reference in group.refs %}
                        <div>
                            <div style="text-align: right;">
                                <a href="{{ reference.ref_url }}">{{ reference.name }}</a>
                                <button class="btn btn-danger" type="button" data-toggle="collapse"
                                        data-target="#delRefCollapse{{ reference.id }}"
                                        aria-expanded="false" aria-controls="delRefCollapse{{ reference.id }}">
                                    Delete reference
                                </button>
                                <button class="btn btn-primary" type="button" data-toggle="collapse"
                                        data-target="#changeRefCollapse{{ reference.id }}"
                                        aria-expanded="false" aria-controls="changeRefCollapse{{ reference.id }}">
                                    Change reference
                                </button>
                            </div>

                            <form method="post" class="collapse" id="delRefCollapse{{ reference.id }}">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <input type="hidden" name="ref-id" value="{{ reference.id }}">
                                <button type="submit" name="delete-ref" class="btn btn-danger">delete</button>
                            </form>

                            <form method="post" class="collapse" id="changeRefCollapse{{ reference.id }}">
                                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                                <input type="hidden" name="ref-id" value="{{ reference.id }}">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">URL :</span>
                                    </div>
                                    <input type="url" name="url" value="{{ reference.ref_url }}">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">Name:</span>
                                    </div>
                                    <input type="text" name="name" value="{{ reference.name }}">
                                </div>
                                <button type="submit" name="change-ref">Change reference</button>
                            </form>
                        </div>
                    {% endfor %}
                </dd>
            </div>
        </div>
    {% endfor %}
</dl>
{% include 'footer.html' %}
</body>
</html>