<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ user_info.username }}</title>

</head>
<body>
    {% include 'header.html' %}
    <dl>
    {% for group in groups.values() %}
        <div style="background-color: {{ group.color }}">
        <form method="post">
            Группа {{ group.name }} Количество записей {{ group.refs|length }}

            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="group-id" value="{{ group.id }}">
            <input name="color" type="color">
            <button type="submit" name="change-color">Change color</button>
        </form>

        <form method="post">
            Добавить запись в группу
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <input type="hidden" name="group-id" value="{{ group.id }}">

            <input type="url" name="url" placeholder="Input url">
            <input type="text" name="name" placeholder="Input site name">

            <button type="submit" name="add-ref">Add reference</button>
        </form>
            <dd>
                {% for reference in group.refs%}
                    <div>
                        <form method="post">
                            <a href="{{ reference.ref_url }}">{{ reference.name }}</a>
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <input type="hidden" name="ref-id" value="{{ reference.id }}">
                            <button type="submit" name="delete-ref">delete</button>
                        </form>
                    </div>
                {% endfor %}
            </dd>
        </div>
    {% endfor %}
    </dl>
    {% include 'footer.html' %}
</body>
</html>