<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
    {% include 'header.html' %}
    <form method="post" action="reg.html" class="container">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

        <input type="text" name="username" placeholder="Login"> <br>
        <input type="email" name="email" placeholder="Email"> <br>
        <input type="password" name="password" placeholder="Password"> <br>
        <input type="password" name="repeat_password" placeholder="Password"> <br>
        <input type="text" name="firstName" placeholder="firstName"> <br>
        <input type="text" name="lastName" placeholder="lastName"> <br>
        <button type="submit" name="register">Register</button> <br>
    </form>
    {% include 'footer.html' %}
</body>
</html>