<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ user_info.username }}</title>

</head>
<body>
{% include 'header.html' %}
<div class="container">
    <form method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Username</span>
            </div>
            <input type="text"
                   class="form-control"
                   placeholder="Username"
                   aria-label="Username"
                   readonly
                   aria-describedby="basic-addon1" value="{{ user_info.username }}">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">First Name</span>
            </div>
            <input type="text" name="first-name"
                   class="form-control"
                   placeholder="First Name"
                   aria-label="First Name"
                   aria-describedby="basic-addon1"
                   value="{{ user_info.first_name }}">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Last Name</span>
            </div>
            <input type="text"
                   class="form-control" name="last-name"
                   placeholder="Last Name"
                   aria-label="Last Name"
                   aria-describedby="basic-addon1"
                   value="{{ user_info.last_name }}">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Email</span>
            </div>
            <input type="email" name="email"
                   class="form-control"
                   placeholder="Email"
                   aria-label="Email"
                   aria-describedby="basic-addon1"
                   value="{{ user_info.email }}">
        </div>

        <button class="btn btn-primary" name="change-user" type="submit">
            Change user
        </button>
        <button class="btn btn-danger"
                type="button"
                data-toggle="collapse"
                data-target="#changePasswordCollapse"
                aria-expanded="false"
                aria-controls="changePasswordCollapse">
            Change password
        </button>
        <div class="collapse" id="changePasswordCollapse">
            <form method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">New password</span>
                    </div>
                    <input type="password"
                           name="password1"
                           class="form-control">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Repeat password</span>
                    </div>
                    <input type="password"
                           name="password2"
                           class="form-control">
                </div>
                <input type="submit" name="change-pass" value="Change password" class="btn btn-danger">
            </form>
        </div>


    </form>
    {% include 'footer.html' %}
</div>
</body>
</html>